body{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
}
.brand-name{font-family: 'Oswald', sans-serif;
    padding: 40px;
font-size: 30px;
margin-left: 30px;}

.top-product{display: flex;
align-items: center;
padding: 40px;}

.product-info{
    width: 700px;
}
.product-info h2{
    font-size: 50px;
}
/* button design */
.buy-now-button{
    padding: 10px 20px;
    background-color: rgb(44, 206, 235);
    color: white);
    border-radius: 20px
}

.p-products{
    text-align: center;
    font-size: 35px;
    margin-top: 150px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
}
.see-more-btn{
    text-decoration: none;
    text-align:right;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fas{
    color: rgb(185, 102, 88);
}
.items{
    width: 50%;
}
/* footer design */
.footer{
    width: 100%;
    background-color: blueviolet;
    height: 200px;
    text-align: center;
    padding: 20px
}